@import 'src/styles/_variables.scss';

.employeesHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 1%;
  position: sticky;
  top: 0px;
}

.employeesWrapper {
  display: flex;
  flex-direction: row;
}

.employeesContent {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.employeesBirthday {
  width: 50%;
}
