@import 'src/styles/variables';

.home {
  text-align: center;

  .homeHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;

    .homeLogo {
      height: 40vmin;
      pointer-events: none;
    }
  }

  .homeLink {
    color: $primary-text;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
